{
  "action": "set",
  "subsystems": {
    "WiFi": {
      "base": 0,
      "v": 0,
      "mode": "full",
      "nets": [
        {
          "ssid": "\"SUPPORT\"",
          "auth": "",
          "km": "WPA_PSK",
          "pskey": "\"1234567890123\""
        }
      ]
    }
  },
  "version": "1.0"
}